server:
  port: 8080

spring:
  application:
    name: quizora-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/quizora
    username: postgres
    password: basket1402
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
